{% set svg_links = {
    "clavarder": "clavarder",
    "formations": "formations",
    "rencontrer": "rencontrer",
    "telephone": "telephone"
} %}

{% set svg_alt_texts = {
    "clavarder": "Clavarder avec nous",
    "formations": "Découvrir nos formations",
    "rencontrer": "Rencontrer un technicien",
    "telephone": "Appeller l'assistance"
} %}

<div class="custom-footer">
    {% if page.meta.svgs %}
        {% for svg_id in page.meta.svgs %}
            <a href="{{ svg_links[svg_id] }}" class="footer-link">
                <img src="/assets/{{ svg_id }}.svg" alt="{{ svg_alt_texts[svg_id] }}" />
            </a>
        {% endfor %}
    {% endif %}
</div>