{% set title = lang.t("toc") %}
{% if config.mdx_configs.toc and config.mdx_configs.toc.title %}
  {% set title = config.mdx_configs.toc.title %}
{% endif %}
<nav class="md-nav md-nav--secondary" aria-label="{{ title }}">

    <div id="person-info-wrapper">
        {% if page and page.meta and page.meta.personnes %}
        <div id="person-info">
          <label class="md-nav__title">
            <span class="md-nav__icon md-icon"></span>
            Personnel des bibliothèques
          </label>
          <div class="persons-details">
            {% for person_id in page.meta.personnes %}
              {% set person = config.extra.personnes[person_id] %}
              {% if person %}
                <div class="person-detail">
                  <img src="{{ person.photo }}" alt="Person Photo" class="person-photo">
                  <p><a href="{{ person.page }}" class="md-nav__link">{{ person.name }}</a></p>
                </div>
              {% else %}
                <p>Personne non trouvée : {{ person_id }}</p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

<nav class="md-nav md-nav--secondary" aria-label="{{ title }}">
  {% set toc = page.toc %}
  {% set first = toc | first %}
  {% if first and first.level == 1 %}
    {% set toc = first.children %}
  {% endif %}
  {% if toc %}
    <label class="md-nav__title" for="__toc">
      <span class="md-nav__icon md-icon"></span>
      {{ title }}
    </label>
    <ul class="md-nav__list" data-md-component="toc" data-md-scrollfix>
      {% for toc_item in toc %}
        {% include "partials/toc-item.html" %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>




